body{
  background-color:black;


}

.layer{
width:100%;
height:2999px;
position:absolute;
top:0px;
left:0px;
opacity:0.3;
}

.layer1 {

background:url('../img/image_5d15e30370a118.49104395_optimised.png');

}
.layer2 {

background:url('../img/image_5d15e30370a118.49104395_optimised.png');

}
.layer3 {
background:url('../img/image_5d15e30370a118.49104395_optimised.png');


/*background:url('../img/image_5d15e421550cf3.49328307_optimised.png');*/
  
}
