body{
  background-color:black;


}

.layer{
width:1000%;
height:99999px;
position:absolute;
top:0px;
left:0px;

opacity:0.8;
}

.layer1 {

background:url('../img/image_5d15e30370a118.49104395_optimised.png');

}
.layer2 {

background:url('../img/image_5d15e30370a118.49104395_optimised.png');

}
.layer3 {

background:url('../img/image_5d15e30370a118.49104395_optimised.png');
  
}
